<app-navbar>

</app-navbar>

<div class="about-me-container">
    <div class="main-content animate_animated animate-fadeInUp">
        <div  class="education-section" *ngIf="showEducation">
            <div id="education-skiil">
                <div class="card-container" id="skill-selector"
                    class="skills-section animate_animated animate-fadeInUp">
                    <p style="font-size:25px; color:#6b08a6;">Education:-</p>
                </div>
                <div class="allDegree">
                <p class="collegeName">LNCT College Bhopal (RGPV)</p>
                <p class="degree">MCA</p>
                <p>2023-2025</p>

                <p class="collegeName">Holkar Science College Indore (DAVV)</p>
                <p class="degree">B.Sc.</p>
                <p>75.37%</p>
                <p>2020-2023</p>
                <p class="collegeName">Pt. Shiv Govind Garg Hr. Sec. School Saleha</p>
                <p class="degree">12th (MP BOARD)</p>
                <p>90.6%</p>
                <p>2020</p>
                <p class="collegeName">Pt. Shiv Govind Garg Hr. Sec. School Saleha</p>
                <p class="degree">10th (MP BOARD)</p>
                <p>94.8%</p>
                <p>2018</p>
            </div>
            </div>
           
        </div>

        <app-footer></app-footer>



































        <!-- <h2>Reactive-Form :-</h2>
<div class="container">
<form [formGroup]="userForm">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" formControlName="name">
    <label for="name">Email:</label>
    <input type="email" id="email" name="email" formControlName="email">   
    <button (click)="onSubmit()" >Submit</button>
</form>
</div> -->