<footer class="footer">
        <div class="footer-links">
                <a (click)="onHome()">Home</a>
                <a (click)="onAbout()">About</a>
                <a (click)="onContact()">Contact</a>
                <a [href]="'mailto:'+emailAddress">Email</a>
                <a [href]="githubLink" target="_blank">Github</a>
                <a [href]="linkedInLink" target="_blank">LinkedIn</a>
                <a [href]="instagramLink" target="_blank">Instagram</a>
                <a [href]="facebookLink"  target="_blank">Facebook</a>
        </div>

        <p>&copy;2024 Shubh Tech . All Rights Reserved..</p>
</footer>
