<p>experience works!</p>
<app-navbar></app-navbar>
<div class="about-me-container">
    <div class="main-content animate_animated animate-fadeInUp">
        <div  class="education-section" >
            <div id="education-skiil">
                <div class="card-container" id="skill-selector"
                    class="skills-section animate_animated animate-fadeInUp">
                    <p style="font-size:25px; color:#6b08a6;">Professional Experience:-</p>
                </div>
                
</div>
</div>
</div>
</div>  

    <div class="companyName">
        <h3 class="heading">Company Name</h3>
        <h6>Amstech Incorporation Private Limited Indore</h6>
    </div>

    
    <div class="companyName">
        <h3 class="heading">Role</h3>
        <h6>Intern</h6>
    </div>


    <div class="companyName">
        <h3 class="heading">Work</h3>
        <h6>As a Full Stack Web Developer</h6>
        <h6>Working on Java, Angular, Servlet,JSP, Html, CSS,Bootstrap</h6> 
    </div>
<app-footer></app-footer>              
