.education-section{
    align-items: center;
    // display: inline-flex;
    text-align: center;
    margin-top: 30px;
}

.allDegree{
    margin-top: 40px;
    font-weight: 400;
    font-size: 20px;
}

.heading{
    font-size: 23px;
    color:rgb(58, 112, 132);
    text-align: center;
}
h6{
    font-size: 20px;
    text-align: center;
}