<!-- <p>home works!</p>

        Using Template Form
    <h2>Registration:-</h2>

    <form #userForm="ngForm">
        <h4>Name</h4>
        <input type="text" id="name" name="name" ngModel>
        <h4>Email</h4>
        <input type="email" id="email" name="email" ngModel>   
        <button (click)="onSubmit(userForm)">Submit</button>
    </form> -->


<div class="container-max">
    <app-navbar></app-navbar>

<div class="home-container">
      
    <div class="main-content animate_animated animate-fadeInUp">
      <div class="max-container">
        <div class="main-content animate_animated animate-fadeInUp">
                <div class="thumb-container">
                    <img src="./assets/fb.jpg" alt="Profile Image" class="thumb-image">
                </div>

        </div>
            <div class="text-container">
                    <p>Project:1(Portfolio Website)</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ut quo quasi quas modi 
                        uptatum delectus ipsum officiis expedita officia atque quae optio, quaerat esse eum, voluptatem asperiores
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo odio sint aliquid harum unde fugiat temporibus possimus. Tenetur aut exercitationem, expedita ut nam magnam minima repudiandae, voluptatibus deleniti illum voluptatum!
                        </div>
              </div>
              
    </div>
    <div>
        <div>
       
    <div class="card-container" id="skill-selector" class="skills-section animate_animated animate-fadeInUp">
      <p style="font-size:25px; color:#6b08a6;">My Skills</p>
      
      <div class="card-container">
      
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>MicroServices</mat-card-title>
                  <!-- <mat-card-subtitle></mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="../assets/image.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Microservices architecture as a collection of loosely coupled services.To enhance system efficiency and maintainabilityes, Restful APIs.

Led the migration from a monolithic system to microservices, resulting in improved performance, easier deployment, and reduced system downtime.
                  </p>
                </mat-card-content>
               
              </mat-card>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Spring Boot</mat-card-title>
                  <!-- <mat-card-subtitle></mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="../assets/SpringBoot.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                  

Experienced with various  relational databases (JPA/Hibernate) and Mysql databases, for efficient data management.

Spring Boot's auto-configuration, security features, and embedded server capabilities and spring security , Orm model , Payment Integration,etc.
                  </p>
                </mat-card-content>
                
              </mat-card>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Angular</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="../assets/Angular 17.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                  Enhances server-side rendering (SSR) and hydration, significantly improving initial load times and performance. Offering more intuitive project scaffolding and maintenance.Angular 17 includes improved 
                  TypeScript support, ensuring better type-checking and developer productivity.
                  </p>
                </mat-card-content>
                
              </mat-card>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Spring Framework</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="../assets/SpringFramework.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                  Comprehensive, modular platform for developing Java-based enterprise applications. It offers extensive support for dependency injection, facilitating loose coupling and testability. Spring's robust ecosystem includes modules for data access, transaction management, web applications, security,etc.
                  </p>
                </mat-card-content>
                
              </mat-card>
            </div>
     </div>
     </div>
     </div>
     </div>
     <div class="home-container shubh" >
      
      <div class="main-content animate_animated animate-fadeInUp">
      
     <div class="card-container">
     <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Hibernate</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image src="../assets/hibernate.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Java</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image src="../assets/Java.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Mysql</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image src="../assets/Mysql.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Python</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image src="../assets/Python.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      
    </mat-card>
  </div>
  </div>
  </div>
               
    <app-footer></app-footer>
  </div>